// Cores
$color-white: #fff;
$color-black: #000;

$color-title: #252b33;
$color-label: #4c4d4d;
$color-input: #656565;
$color-text: #6c757d;
$color-link: #025bdf;
$color-btn: #0d6efd;
$color-btn-hover: #025bdf;